<table style="width:70%">
  <tr>
    <th>Party</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Responded</th>
    <th>Attending</th>
    <th>Email</th>
    <th>Address</th>
  </tr>

  <% @guests.each do |guest| %>
  <tr>
    <td><%= guest.party.slug %></td>
    <td><%= guest.first_name %></td>
    <td><%= guest.last_name %></td>
    <td><%= guest.rsvp %></td>
    <td><%= guest.email %></td>
  </tr>
  <% end %>
</table>